* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 1em;
    margin: auto;
}

#sorting_ninjas {
    list-style: none;
    display: inline-block;
    
}

#sorting_ninjas li {
    display: block;
}
